@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #ffffff80;
}

:root {
    --span-left: #8d8d8d;
    --button-left: #a672fa;
}

.ativado {
    --button-left: #a672fa;
    --span-left: #f569e7;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #320083ce;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #925FE2;
}

.create {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1C1D21;
    width: 500px;
}

.create .content-create {
    display: flex;
    flex-direction: column;
    width: 380px;
    gap: 32px;
}

.create .criar-conta h1 {
    font-size: 48px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #FFF;
}
.create .criar-conta p {
    letter-spacing: 1.5px;
    font-size: 18px;
    color: #ffffff80;
}

.create .inputs {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}

.create .inputs input {
    background: transparent;
    border: none;
    border-bottom: 1px solid ;
    color: #ffffff80;
    padding-bottom: 12px;
}

.check {
    display: flex;
}   

#switch {
    position: relative;
    width: 40px;
    margin: 4px 0;
}

#switch button {
    width: 20px;
    height: 20px;
    background: white no-repeat center;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    cursor: pointer;
    animation: slide-back 400ms forwards;
}

#switch span {
    display: block;
    width: 32px;
    height: 16px;
    background: var(--span-left);
    border: 1px solid #1C1D21;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 999px;
}

@keyframes slide-in {
    from {
        left: 0;
    } to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    } to {
        left: 0;
    }
}

.term a {
    text-decoration: none;
    color: #a57bea99;
    transition: color 300ms;
}

.term a:hover {
    text-decoration: none;
    color: #a770ff;
}

